openapi: 3.0.2
info:
  contact:
    email: support@tonkeeper.com
    name: Support
  description: Provide access to indexed TON blockchain
  title: REST api to TON blockchain explorer
  version: 2.0.0
servers:
- url: https://tonapi.io
- url: https://testnet.tonapi.io
- url: http://localhost:8081
paths:
  /v2/status:
    get:
      description: Status
      operationId: status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatus'
          description: status
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/reduced/blocks:
    get:
      description: Get reduced blockchain blocks data
      operationId: getReducedBlockchainBlocks
      parameters:
      - explode: true
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReducedBlocks'
          description: blockchain reduced blocks
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/blocks/{block_id}:
    get:
      description: Get blockchain block data
      operationId: getBlockchainBlock
      parameters:
      - description: block ID
        explode: false
        in: path
        name: block_id
        required: true
        schema:
          example: "(-1,8000000000000000,4234234)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlock'
          description: blockchain block
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/masterchain/{masterchain_seqno}/shards:
    get:
      description: Get blockchain block shards
      operationId: getBlockchainMasterchainShards
      parameters:
      - description: masterchain block seqno
        explode: false
        in: path
        name: masterchain_seqno
        required: true
        schema:
          example: 123456
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlockShards'
          description: blockchain block shards
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/masterchain/{masterchain_seqno}/blocks:
    get:
      description: Get all blocks in all shards and workchains between target and
        previous masterchain block according to shards last blocks snapshot in masterchain.  We
        don't recommend to build your app around this method because it has problem
        with scalability and will work very slow in the future.
      operationId: getBlockchainMasterchainBlocks
      parameters:
      - description: masterchain block seqno
        explode: false
        in: path
        name: masterchain_seqno
        required: true
        schema:
          example: 123456
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlocks'
          description: blockchain blocks
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/masterchain/{masterchain_seqno}/transactions:
    get:
      description: Get all transactions in all shards and workchains between target
        and previous masterchain block according to shards last blocks snapshot in
        masterchain. We don't recommend to build your app around this method because
        it has problem with scalability and will work very slow in the future.
      operationId: getBlockchainMasterchainTransactions
      parameters:
      - description: masterchain block seqno
        explode: false
        in: path
        name: masterchain_seqno
        required: true
        schema:
          example: 123456
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
          description: blockchain transactions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/masterchain/{masterchain_seqno}/config:
    get:
      description: "Get blockchain config from a specific block, if present."
      operationId: getBlockchainConfigFromBlock
      parameters:
      - description: masterchain block seqno
        explode: false
        in: path
        name: masterchain_seqno
        required: true
        schema:
          example: 123456
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainConfig'
          description: blockchain config
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/masterchain/{masterchain_seqno}/config/raw:
    get:
      description: "Get raw blockchain config from a specific block, if present."
      operationId: getRawBlockchainConfigFromBlock
      parameters:
      - description: masterchain block seqno
        explode: false
        in: path
        name: masterchain_seqno
        required: true
        schema:
          example: 123456
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawBlockchainConfig'
          description: blockchain config
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/blocks/{block_id}/transactions:
    get:
      description: Get transactions from block
      operationId: getBlockchainBlockTransactions
      parameters:
      - description: block ID
        explode: false
        in: path
        name: block_id
        required: true
        schema:
          example: "(-1,8000000000000000,4234234)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
          description: blockchain block transactions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/transactions/{transaction_id}:
    get:
      description: Get transaction data
      operationId: getBlockchainTransaction
      parameters:
      - description: transaction ID
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: blockchain transaction
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/messages/{msg_id}/transaction:
    get:
      description: Get transaction data by message hash
      operationId: getBlockchainTransactionByMessageHash
      parameters:
      - description: message ID
        explode: false
        in: path
        name: msg_id
        required: true
        schema:
          example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: transaction by message hash
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/validators:
    get:
      description: Get blockchain validators
      operationId: getBlockchainValidators
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Validators'
          description: blockchain validators
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/masterchain-head:
    get:
      description: Get last known masterchain block
      operationId: getBlockchainMasterchainHead
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainBlock'
          description: blockchain masterchain head
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/accounts/{account_id}:
    get:
      description: Get low-level information about an account taken directly from
        the blockchain.
      operationId: getBlockchainRawAccount
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainRawAccount'
          description: raw account
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/accounts/{account_id}/transactions:
    get:
      description: Get account transactions
      operationId: getBlockchainAccountTransactions
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: omit this parameter to get last transactions
        explode: true
        in: query
        name: after_lt
        required: false
        schema:
          example: 39787624000003
          format: int64
          type: integer
        style: form
      - description: omit this parameter to get last transactions
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 39787624000003
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          description: used to sort the result-set in ascending or descending order
            by lt.
          enum:
          - desc
          - asc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
          description: blockchain account transactions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/accounts/{account_id}/methods/{method_name}:
    get:
      description: Execute get method for account
      operationId: execGetMethodForBlockchainAccount
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: contract get method name
        explode: false
        in: path
        name: method_name
        required: true
        schema:
          example: get_wallet_address
          type: string
        style: simple
      - explode: true
        in: query
        name: args
        required: false
        schema:
          description: "Supported values:\n\"NaN\" for NaN type, \n\"Null\" for Null\
            \ type, \n10-base digits for tiny int type (Example: 100500), \n0x-prefixed\
            \ hex digits for int257 (Example: 0xfa01d78381ae32), \nall forms of addresses\
            \ for slice type (Example: 0:6e731f2e28b73539a7f85ac47ca104d5840b229351189977bb6151d36b5e3f5e),\
            \ \nsingle-root base64-encoded BOC for cell (Example: \"te6ccgEBAQEAAgAAAA==\"\
            ),\nsingle-root hex-encoded BOC for slice (Example: b5ee9c72010101010002000000)"
          example:
          - 0:9a33970f617bcd71acf2cd28357c067aa31859c02820d8f01d74c88063a8f4d8
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodExecutionResult'
          description: method execution result
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/message:
    post:
      description: Send message to blockchain
      operationId: sendBlockchainMessage
      requestBody:
        $ref: '#/components/requestBodies/BatchBoc'
      responses:
        "200":
          description: the message has been sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/config:
    get:
      description: Get blockchain config
      operationId: getBlockchainConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainConfig'
          description: blockchain config
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/config/raw:
    get:
      description: Get raw blockchain config
      operationId: getRawBlockchainConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawBlockchainConfig'
          description: blockchain config
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/blockchain/accounts/{account_id}/inspect:
    get:
      description: Blockchain account inspect
      operationId: blockchainAccountInspect
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainAccountInspect'
          description: blockchain account inspect
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Blockchain
  /v2/message/decode:
    post:
      description: Decode a given message. Only external incoming messages can be
        decoded currently.
      operationId: decodeMessage
      requestBody:
        $ref: '#/components/requestBodies/Boc'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodedMessage'
          description: decoded message
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Emulation
  /v2/address/{account_id}/parse:
    get:
      description: parse address and display in all formats
      operationId: addressParse
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressParse_200_response'
          description: all forms and info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/events/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToEvent
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - explode: true
        in: query
        name: ignore_signature_check
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        $ref: '#/components/requestBodies/Boc'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: emulated event
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Emulation
  /v2/traces/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToTrace
      parameters:
      - explode: true
        in: query
        name: ignore_signature_check
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        $ref: '#/components/requestBodies/Boc'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trace'
          description: emulated trace
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Emulation
  /v2/wallet/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToWallet
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/EmulationBoc'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageConsequences'
          description: emulated message
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Emulation
  /v2/accounts/{account_id}/events/emulate:
    post:
      description: Emulate sending message to blockchain
      operationId: emulateMessageToAccountEvent
      parameters:
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: true
        in: query
        name: ignore_signature_check
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        $ref: '#/components/requestBodies/Boc'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvent'
          description: emulated message to account
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Emulation
  /v2/accounts/_bulk:
    post:
      description: Get human-friendly information about several accounts without low-level
        details.
      operationId: getAccounts
      parameters:
      - explode: true
        in: query
        name: currency
        required: false
        schema:
          example: usd
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/AccountIDs'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
          description: a list of accounts
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}:
    get:
      description: Get human-friendly information about an account without low-level
        details.
      operationId: getAccount
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: account
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/dns/backresolve:
    get:
      description: Get account's domains
      operationId: accountDnsBackResolve
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainNames'
          description: account's domains
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/jettons:
    get:
      description: Get all Jettons balances by owner address
      operationId: getAccountJettonsBalances
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: "accept ton and all possible fiat currencies, separated by commas"
        explode: false
        in: query
        name: currencies
        required: false
        schema:
          example:
          - ton
          - usd
          - rub
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonsBalances'
          description: account jettons balances
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/jettons/{jetton_id}:
    get:
      description: Get Jetton balance by owner address
      operationId: getAccountJettonBalance
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: jetton ID
        explode: false
        in: path
        name: jetton_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: "accept ton and all possible fiat currencies, separated by commas"
        explode: false
        in: query
        name: currencies
        required: false
        schema:
          example:
          - ton
          - usd
          - rub
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonBalance'
          description: account jetton balance
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/jettons/history:
    get:
      description: Get the transfer jettons history for account
      operationId: getAccountJettonsHistory
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - description: omit this parameter to get last events
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 25758317000002
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          example: 100
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
          description: account jettons history
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/jettons/{jetton_id}/history:
    get:
      description: Get the transfer jetton history for account and jetton
      operationId: getAccountJettonHistoryByID
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: jetton ID
        explode: false
        in: path
        name: jetton_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - description: omit this parameter to get last events
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 25758317000002
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          example: 100
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
          description: account jetton history
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/nfts:
    get:
      description: Get all NFT items by owner address
      operationId: getAccountNftItems
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: nft collection
        explode: true
        in: query
        name: collection
        required: false
        schema:
          example: 0:06d811f426598591b32b2c49f29f66c821368e4acb1de16762b04e0174532465
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: Selling nft items in ton implemented usually via transfer items
          to special selling account. This option enables including items which owned
          not directly.
        explode: true
        in: query
        name: indirect_ownership
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftItems'
          description: account nft items
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/nfts/history:
    get:
      description: Get the transfer nft history
      operationId: getAccountNftHistory
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - description: omit this parameter to get last events
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 25758317000002
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          example: 100
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
          description: nft history
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - NFT
  /v2/accounts/{account_id}/events:
    get:
      description: "Get events for an account. Each event is built on top of a trace\
        \ which is a series of transactions caused by one inbound message. TonAPI\
        \ looks for known patterns inside the trace and splits the trace into actions,\
        \ where a single action represents a meaningful high-level operation like\
        \ a Jetton Transfer or an NFT Purchase. Actions are expected to be shown to\
        \ users. It is advised not to build any logic on top of actions because actions\
        \ can be changed at any time."
      operationId: getAccountEvents
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - description: Show only events that are initiated by this account
        explode: false
        in: query
        name: initiator
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: filter actions where requested account is not real subject (for
          example sender or receiver jettons)
        explode: true
        in: query
        name: subject_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: omit this parameter to get last events
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 25758317000002
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          example: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
          description: account's events
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/events/{event_id}:
    get:
      description: Get event for an account by event_id
      operationId: getAccountEvent
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: event ID or transaction hash in hex (without 0x) or base64url
          format
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - description: filter actions where requested account is not real subject (for
          example sender or receiver jettons)
        explode: true
        in: query
        name: subject_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvent'
          description: account's event
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/traces:
    get:
      description: Get traces for account
      operationId: getAccountTraces
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: omit this parameter to get last events
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 25758317000002
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceIDs'
          description: account's traces
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/subscriptions:
    get:
      description: Get all subscriptions by wallet address
      operationId: getAccountSubscriptions
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions'
          description: account's subscriptions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/reindex:
    post:
      description: Update internal cache for a particular account
      operationId: reindexAccount
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/search:
    get:
      description: Search by account domain name
      operationId: searchAccounts
      parameters:
      - explode: true
        in: query
        name: name
        required: true
        schema:
          maxLength: 15
          minLength: 3
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoundAccounts'
          description: found accounts
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/dns/expiring:
    get:
      description: Get expiring account .ton dns
      operationId: getAccountDnsExpiring
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: number of days before expiration
        explode: true
        in: query
        name: period
        required: false
        schema:
          maximum: 3660
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsExpiring'
          description: account's expiring .ton dns
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/publickey:
    get:
      description: Get public key by account id
      operationId: getAccountPublicKey
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountPublicKey_200_response'
          description: account's public key
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/multisigs:
    get:
      description: Get account's multisigs
      operationId: getAccountMultisigs
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Multisigs'
          description: account's multisigs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/accounts/{account_id}/diff:
    get:
      description: Get account's balance change
      operationId: getAccountDiff
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: true
        in: query
        name: start_date
        required: true
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: end_date
        required: true
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountDiff_200_response'
          description: account's balance change
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Accounts
  /v2/dns/{domain_name}:
    get:
      description: Get full information about domain name
      operationId: getDnsInfo
      parameters:
      - description: domain name with .ton or .t.me
        explode: false
        in: path
        name: domain_name
        required: true
        schema:
          example: wallet.ton
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainInfo'
          description: domain info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - DNS
  /v2/dns/{domain_name}/resolve:
    get:
      description: DNS resolve for domain name
      operationId: dnsResolve
      parameters:
      - description: domain name with .ton or .t.me
        explode: false
        in: path
        name: domain_name
        required: true
        schema:
          example: wallet.ton
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRecord'
          description: dns record
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - DNS
  /v2/dns/{domain_name}/bids:
    get:
      description: Get domain bids
      operationId: getDomainBids
      parameters:
      - description: domain name with .ton or .t.me
        explode: false
        in: path
        name: domain_name
        required: true
        schema:
          example: wallet.ton
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainBids'
          description: domain bids
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - DNS
  /v2/dns/auctions:
    get:
      description: Get all auctions
      operationId: getAllAuctions
      parameters:
      - description: domain filter for current auctions "ton" or "t.me"
        explode: true
        in: query
        name: tld
        required: false
        schema:
          example: ton
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auctions'
          description: auctions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - DNS
  /v2/nfts/collections:
    get:
      description: Get NFT collections
      operationId: getNftCollections
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 15
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 10
          format: int32
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftCollections'
          description: nft collections
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - NFT
  /v2/nfts/collections/{account_id}:
    get:
      description: Get NFT collection by collection address
      operationId: getNftCollection
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftCollection'
          description: nft collection
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - NFT
  /v2/nfts/collections/{account_id}/items:
    get:
      description: Get NFT items from collection by collection address
      operationId: getItemsFromCollection
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftItems'
          description: nft items
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - NFT
  /v2/nfts/_bulk:
    post:
      description: Get NFT items by their addresses
      operationId: getNftItemsByAddresses
      requestBody:
        $ref: '#/components/requestBodies/AccountIDs'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftItems'
          description: nft items
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - NFT
  /v2/nfts/{account_id}:
    get:
      description: Get NFT item by its address
      operationId: getNftItemByAddress
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftItem'
          description: nft item
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - NFT
  /v2/nfts/{account_id}/history:
    get:
      description: Get the transfer nfts history for account
      operationId: getNftHistoryByID
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - description: omit this parameter to get last events
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 25758317000002
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          example: 100
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
          description: nft history
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - NFT
  /v2/traces/{trace_id}:
    get:
      description: Get the trace by trace ID or hash of any transaction in trace
      operationId: getTrace
      parameters:
      - description: trace ID or transaction hash in hex (without 0x) or base64url
          format
        explode: false
        in: path
        name: trace_id
        required: true
        schema:
          example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trace'
          description: trace
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Traces
  /v2/events/{event_id}:
    get:
      description: "Get an event either by event ID or a hash of any transaction in\
        \ a trace. An event is built on top of a trace which is a series of transactions\
        \ caused by one inbound message. TonAPI looks for known patterns inside the\
        \ trace and splits the trace into actions, where a single action represents\
        \ a meaningful high-level operation like a Jetton Transfer or an NFT Purchase.\
        \ Actions are expected to be shown to users. It is advised not to build any\
        \ logic on top of actions because actions can be changed at any time."
      operationId: getEvent
      parameters:
      - description: event ID or transaction hash in hex (without 0x) or base64url
          format
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: event
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Events
  /v2/experimental/accounts/{account_id}/inscriptions:
    get:
      description: Get all inscriptions by owner address. It's experimental API and
        can be dropped in the future.
      operationId: getAccountInscriptions
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InscriptionBalances'
          description: account inscriptions
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Inscriptions
  /v2/experimental/accounts/{account_id}/inscriptions/history:
    get:
      description: Get the transfer inscriptions history for account. It's experimental
        API and can be dropped in the future.
      operationId: getAccountInscriptionsHistory
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - description: omit this parameter to get last events
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 25758317000002
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
          description: account inscriptions history
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Inscriptions
  /v2/experimental/accounts/{account_id}/inscriptions/{ticker}/history:
    get:
      description: Get the transfer inscriptions history for account. It's experimental
        API and can be dropped in the future.
      operationId: getAccountInscriptionsHistoryByTicker
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      - explode: false
        in: path
        name: ticker
        required: true
        schema:
          example: nano
          type: string
        style: simple
      - description: omit this parameter to get last events
        explode: true
        in: query
        name: before_lt
        required: false
        schema:
          example: 25758317000002
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEvents'
          description: account inscriptions history
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Inscriptions
  /v2/experimental/inscriptions/op-template:
    get:
      description: return comment for making operation with inscription. please don't
        use it if you don't know what you are doing
      operationId: getInscriptionOpTemplate
      parameters:
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - ton20
          - gram20
          example: ton20
          type: string
        style: form
      - explode: true
        in: query
        name: destination
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: comment
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: operation
        required: true
        schema:
          enum:
          - transfer
          example: transfer
          type: string
        style: form
      - explode: true
        in: query
        name: amount
        required: true
        schema:
          example: "1000000000"
          type: string
        style: form
      - explode: true
        in: query
        name: ticker
        required: true
        schema:
          example: nano
          type: string
        style: form
      - explode: true
        in: query
        name: who
        required: true
        schema:
          example: UQAs87W4yJHlF8mt29ocA4agnMrLsOP69jC1HPyBUjJay7Mg
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInscriptionOpTemplate_200_response'
          description: inscription op template
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Inscriptions
  /v2/jettons:
    get:
      description: Get a list of all indexed jetton masters in the blockchain.
      operationId: getJettons
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 15
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 10
          format: int32
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jettons'
          description: a list of jettons
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Jettons
  /v2/jettons/{account_id}:
    get:
      description: Get jetton metadata by jetton master address
      operationId: getJettonInfo
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonInfo'
          description: jetton info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Jettons
  /v2/jettons/{account_id}/holders:
    get:
      description: Get jetton's holders
      operationId: getJettonHolders
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonHolders'
          description: jetton's holders
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Jettons
  /v2/events/{event_id}/jettons:
    get:
      description: Get only jetton transfers in the event
      operationId: getJettonsEvents
      parameters:
      - description: event ID or transaction hash in hex (without 0x) or base64url
          format
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          example: 97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: events
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Jettons
  /v2/staking/nominator/{account_id}/pools:
    get:
      description: All pools where account participates
      operationId: getAccountNominatorsPools
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStaking'
          description: account's pools
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Staking
  /v2/staking/pool/{account_id}:
    get:
      description: Stacking pool info
      operationId: getStakingPoolInfo
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStakingPoolInfo_200_response'
          description: stacking pool info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Staking
  /v2/staking/pool/{account_id}/history:
    get:
      description: Pool history
      operationId: getStakingPoolHistory
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStakingPoolHistory_200_response'
          description: pool history
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Staking
  /v2/staking/pools:
    get:
      description: All pools available in network
      operationId: getStakingPools
      parameters:
      - description: account ID
        explode: true
        in: query
        name: available_for
        required: false
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: form
      - description: return also pools not from white list - just compatible by interfaces
          (maybe dangerous!)
        explode: true
        in: query
        name: include_unverified
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          example: "ru-RU,ru;q=0.5"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStakingPools_200_response'
          description: a list of pools
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Staking
  /v2/storage/providers:
    get:
      description: Get TON storage providers deployed to the blockchain.
      operationId: getStorageProviders
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStorageProviders_200_response'
          description: a list of storage providers
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Storage
  /v2/rates:
    get:
      description: Get the token price to the currency
      operationId: getRates
      parameters:
      - description: "accept ton and jetton master addresses, separated by commas"
        explode: false
        in: query
        name: tokens
        required: true
        schema:
          example:
          - ton
          items:
            type: string
          maxItems: 100
          type: array
        style: form
      - description: "accept ton and all possible fiat currencies, separated by commas"
        explode: false
        in: query
        name: currencies
        required: true
        schema:
          example:
          - ton
          - usd
          - rub
          items:
            type: string
          maxItems: 50
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRates_200_response'
          description: tokens rates
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Rates
  /v2/rates/chart:
    get:
      description: Get chart by token
      operationId: getChartRates
      parameters:
      - description: accept jetton master address
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: currency
        required: false
        schema:
          example: usd
          type: string
        style: form
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: 1668436763
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: points_count
        required: false
        schema:
          default: 200
          format: int
          maximum: 200
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getChartRates_200_response'
          description: token chart
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Rates
  /v2/rates/markets:
    get:
      description: Get the TON price from markets
      operationId: getMarketsRates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMarketsRates_200_response'
          description: markets rates
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Rates
  /v2/tonconnect/payload:
    get:
      description: Get a payload for further token receipt
      operationId: getTonConnectPayload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTonConnectPayload_200_response'
          description: payload
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Connect
  /v2/tonconnect/stateinit:
    post:
      description: Get account info by state init
      operationId: getAccountInfoByStateInit
      requestBody:
        $ref: '#/components/requestBodies/TonConnectStateInit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoByStateInit'
          description: account info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Connect
  /v2/wallet/backup:
    get:
      description: Get backup info
      operationId: getWalletBackup
      parameters:
      - explode: false
        in: header
        name: X-TonConnect-Auth
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWalletBackup_200_response'
          description: get wallet dump
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Wallet
    put:
      description: Set backup info
      operationId: setWalletBackup
      parameters:
      - explode: false
        in: header
        name: X-TonConnect-Auth
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Backup'
      responses:
        "200":
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Wallet
  /v2/wallet/auth/proof:
    post:
      description: Account verification and token issuance
      operationId: tonConnectProof
      requestBody:
        $ref: '#/components/requestBodies/TonConnectProof'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tonConnectProof_200_response'
          description: auth token
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Wallet
  /v2/gasless/config:
    get:
      description: Returns configuration of gasless transfers
      operationId: gaslessConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GaslessConfig'
          description: gasless config
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Gasless
  /v2/gasless/estimate/{master_id}:
    post:
      description: Estimates the cost of the given messages and returns a payload
        to sign.
      operationId: gaslessEstimate
      parameters:
      - description: jetton to pay commission
        explode: false
        in: path
        name: master_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/InternalMessages'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignRawParams'
          description: payload to sign
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Gasless
  /v2/gasless/send:
    post:
      operationId: gaslessSend
      requestBody:
        $ref: '#/components/requestBodies/GaslessSend'
      responses:
        "200":
          description: the message has been sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Gasless
  /v2/pubkeys/{public_key}/wallets:
    get:
      description: Get wallets by public key
      operationId: getWalletsByPublicKey
      parameters:
      - explode: false
        in: path
        name: public_key
        required: true
        schema:
          example: NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2ODQ3...
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
          description: a list of wallets
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Wallet
  /v2/wallet/{account_id}/seqno:
    get:
      description: Get account seqno
      operationId: getAccountSeqno
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seqno'
          description: account seqno
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Wallet
  /v2/liteserver/get_masterchain_info:
    get:
      description: Get raw masterchain info
      operationId: getRawMasterchainInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawMasterchainInfo_200_response'
          description: raw masterchain info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_masterchain_info_ext:
    get:
      description: Get raw masterchain info ext
      operationId: getRawMasterchainInfoExt
      parameters:
      - description: mode
        explode: true
        in: query
        name: mode
        required: true
        schema:
          example: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawMasterchainInfoExt_200_response'
          description: raw masterchain info ext
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_time:
    get:
      description: Get raw time
      operationId: getRawTime
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawTime_200_response'
          description: raw time
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_block/{block_id}:
    get:
      description: Get raw blockchain block
      operationId: getRawBlockchainBlock
      parameters:
      - description: "block ID: (workchain,shard,seqno,root_hash,file_hash)"
        explode: false
        in: path
        name: block_id
        required: true
        schema:
          example: "(-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawBlockchainBlock_200_response'
          description: raw blockchain block
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_state/{block_id}:
    get:
      description: Get raw blockchain block state
      operationId: getRawBlockchainBlockState
      parameters:
      - description: "block ID: (workchain,shard,seqno,root_hash,file_hash)"
        explode: false
        in: path
        name: block_id
        required: true
        schema:
          example: "(-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawBlockchainBlockState_200_response'
          description: raw blockchain block state
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_block_header/{block_id}:
    get:
      description: Get raw blockchain block header
      operationId: getRawBlockchainBlockHeader
      parameters:
      - description: "block ID: (workchain,shard,seqno,root_hash,file_hash)"
        explode: false
        in: path
        name: block_id
        required: true
        schema:
          example: "(-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)"
          type: string
        style: simple
      - description: mode
        explode: true
        in: query
        name: mode
        required: true
        schema:
          example: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawBlockchainBlockHeader_200_response'
          description: raw blockchain block header
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/send_message:
    post:
      description: Send raw message to blockchain
      operationId: sendRawMessage
      requestBody:
        $ref: '#/components/requestBodies/LiteServerSendMessageRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sendRawMessage_200_response'
          description: code
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_account_state/{account_id}:
    get:
      description: Get raw account state
      operationId: getRawAccountState
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: "target block: (workchain,shard,seqno,root_hash,file_hash)"
        explode: true
        in: query
        name: target_block
        required: false
        schema:
          example: "(-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawAccountState_200_response'
          description: raw account state
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_shard_info/{block_id}:
    get:
      description: Get raw shard info
      operationId: getRawShardInfo
      parameters:
      - description: "block ID: (workchain,shard,seqno,root_hash,file_hash)"
        explode: false
        in: path
        name: block_id
        required: true
        schema:
          example: "(-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)"
          type: string
        style: simple
      - description: workchain
        explode: true
        in: query
        name: workchain
        required: true
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: shard
        explode: true
        in: query
        name: shard
        required: true
        schema:
          example: 1
          format: int64
          type: integer
        style: form
      - description: exact
        explode: true
        in: query
        name: exact
        required: true
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawShardInfo_200_response'
          description: raw shard info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_all_shards_info/{block_id}:
    get:
      description: Get all raw shards info
      operationId: getAllRawShardsInfo
      parameters:
      - description: "block ID: (workchain,shard,seqno,root_hash,file_hash)"
        explode: false
        in: path
        name: block_id
        required: true
        schema:
          example: "(-1,8000000000000000,4234234,3E575DAB1D25...90D8,47192E5C46C...BB29)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllRawShardsInfo_200_response'
          description: all raw shards info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status_default_response'
          description: Some error during request processing
      tags:
      - Lite Server
  /v2/liteserver/get_transactions/{account_id}:
    get:
      description: Get raw transactions
      operationId: getRawTransactions
      parameters:
      - description: account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 0:97264395BD65A255A429B11326C84128B7D70FFED7949ABAE3036D506BA38621
          type: string
        style: simple
      - description: count
        explode: true
        in: query
        name: count
        required: true
        schema:
          example: 100
          format: int32
          type: integer
        style: form
[...]
